//------------ Styles For Nav Section ----------//

#nav_picture {
  margin-top: 33.8px;
  width: 163.86px;
  height: 47.83px;
}

// ---------- Style For Header Section ---------- //
#header_img {
  width: 509px;
  height: 518px;
  // margin-right: 37px;
}

#heading{
  margin-top: 80px;
  width: 584px;
  margin-right: 10px;
}

#headig-p{
  width: 520px;
  height: 120px;
  color: #000000;
}

h3{
  color: #000000 !important;
  font-size: 40px !important;
}

p {
  color: black;
}


.buttonCommon{
  border: none;
  font-size: 23px;
  color: #ffffff;
  background-color: #1492e6;
  width: 248px;
  height: 65px;
  margin-top: 80px !important;
  border-radius: 50px !important;
}

.text {
  font-size: 19px !important;
  color: #000000 !important;
  font-family: 'Open Sans', sans-serif !important;
}

hr {
  margin-top: 0 !important;
}

// ----------------- About sections style -------------- //

#about{
  margin-top: 120px;
}

h2{
  color: #000000 !important;
}
h6{
  font-size: 18px !important;
}

.card-body{
  width: 308px !important;
  height: 320px  !important;
  border-radius: 20px !important;
  margin: 0 10px; 
}

.person{
  width: 150px;
  height: 161px;
}

.testemonials{
  margin-top: 80px;
  margin-bottom: 80px;
  width: 1080px;
  height: 363px;
  border-radius: 30px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  background-color: #F8FAFC;
}

.testemonials-img{
  width: 64px;
}

.testy-class{
  width: 285px;
  height: 363px;
  border-radius: 20px;
}
